.login-box{
    top:10rem;
    position: absolute;
    margin-left: 40%;
    width: 20%;
    height: 60%;
    border: 1px solid black;
    border-radius: 15px;
    background: #fff;
    opacity: 0.8;
}
.input-group{
    top: 10%;
    transition: .9s;
    padding: 2rem 0 0 0;
}
.input-field{
    height: 100%;
    width:70%;
    padding:2rem 0 0 0;
    font-size: 16px;
    display: list-item;
    text-align: left;
    margin:auto;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.Login-button{
  margin-top: 72%;
  margin-left:30%;
  font-family: 'Luckiest Guy', cursive;
  border: 2px solid #00a2ff;
  text-transform: uppercase;
  font-size: 17px;
  height: 2rem;
  color: #00a2ff;
  height: 100%;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
}
.Login-button:hover{
    background: #00a2ff;
    color:white;
    transition: 0.5s;
    opacity: 0.9;
}
#register-heading{
    font-size: 36px;
    font-family: 'Luckiest Guy', cursive;
    opacity: 0.8;
    text-align: center;
}
#register-heading:hover{
    color: #00a2ff;  
    transition: 0.5s;
}