/*NAVIGATION BAR - "MENU"*/
*, *:before, *:after {
  box-sizing: inherit; 
    }
    .wrapper{
      margin-top: 8px;
       padding: 5px;
       background: rgba(0, 0, 0,0.6);
       display: flex;
       justify-content: space-between;
       border-radius: 5px;
   }
   .wrapper .input {
     font-family: 'Luckiest Guy', cursive;
       width: 85%;
       padding: 15px 20px;
       border: none;
       border-radius: 5px;
       font-weight: bold;
   }
   .searchbtn {
       background:  #00a2ff;
       width: 10%;
       border-radius: 5px;
       position: relative;
       cursor: pointer;
   }
   .searchbtn:hover{
     color: white;
   }
   .searchbtn .fas{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 18px;
   }
  .navigation-icons{
    margin-left: 65%;
  }
  #boxes{
    position: relative;
    opacity: 0.9;
    height: 10%;
  }
  #leftbox { 
    float:left;  
    width:25%; 
  } 
  #middlebox{ 
    float:left;  
    width:50%; 
  } 
  #rightbox{ 
    float:right; 
    width:25%; 
  } 
  .navbar-toolbox{
    height: 4em;
    margin-left: 1em;
  }
  .icons{
    margin-top: 11px;
    display: inline-block;
    margin-left: 1em;
  }
  .toggle-button{
    font-family: 'Luckiest Guy', cursive;
    border: 2px solid #00a2ff;
    padding: 15px;
    font-size: 17px;
    color: #00a2ff;;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
  }
  .toggle-button:hover{
    background: #00a2ff;
    color:white;
    transition: 0.5s;
    opacity: 0.9;
  }
  .toggle-button1{
    font-family: 'Luckiest Guy', cursive;
    border: 2px solid #00a2ff;
    text-transform: uppercase;
    padding: 15px;
    font-size: 17px;
    color: #00a2ff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  .toggle-button1:hover{
    background: #00a2ff;
    color:white;
    transition: 0.5s;
    opacity: 0.9;
  }
  .toggle-button2{
    font-family: 'Luckiest Guy', cursive;
    border: 2px solid #00a2ff;
    text-transform: uppercase;
    padding: 15px;
    font-size: 17px;
    color: #00a2ff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  .toggle-button2:hover{
    background: #00a2ff;
    color:white;
    transition: 0.5s;
    opacity: 0.9;
  }
  #company-name{
    font-size: 20px;
  }